@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 90vw;
}

.card {
  background-size: auto 100%;
  background-position: center;
  height: 80vh;
  border-radius: 50px;
  flex: 0.5;

  transition: flex 0.8s cubic-bezier(0.72, 0.03, 0.09, 1.02);
  overflow: hidden;
  position: relative;
}

.card.active {
  flex: 5;
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.caption {
  bottom: 20px;
  left: 18px;
  color: white;

  font-size: 1.4rem;
  position: absolute;
}

.caption.active {
  opacity: 1;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
}

/* 
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
