* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;

    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

.container, #insert {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-color: white;
    border: 1px solid grey;
    padding: 1rem;
}

.key {
    width: 10rem;
}