* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(44, 49, 110);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 1.5rem 3rem;
  border-radius: 0.6rem;
  background-color: rgb(76, 137, 187);
  color: white;
}

.heading {
  font-size: 2.2rem;
}

#btn {
  border: none;
  background-color: blueviolet;
  color: white;
  border-radius: 0.4rem;
  padding: 1rem;
  font-size: 1rem;
}

@media (hover:hover) {
  #btn:hover {
    background-color: rgb(99, 29, 164);
    cursor: pointer;
  }
}