* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: blueviolet;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  background-color: rebeccapurple;
  color: white;
  border-radius: 0.6rem;
  border: none;
  margin: 1rem;
  padding: 1.4rem 3rem;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (hover: hover) {
  .btn:hover {
    background-color: rgb(0, 0, 106);
    cursor: pointer;
  }
}
